.CauseCheckboxes__cause-wrapper {
  position: relative;
  margin-bottom: 5px;
}

.CauseCheckboxes label {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.CauseCheckboxes input {
  position: relative;
  left: -5px;

  /* Hides the default checkbox input */
  opacity: 0;
  cursor: pointer;
}

/*
  Overlays a custom checkbox input on top of the default one
*/
.CauseCheckboxes__custom-checkbox {
  display: inline-block;
  position: relative;
  left: 12px;
  top: 4px;
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 2px;
  opacity: 0.75;
}

.CauseCheckboxes__custom-checkbox.checked {
  background-color: var(--accent-color);
  opacity: 1;
}

/*
  Custom checkmark, hidden by default
*/
.CauseCheckboxes__checkmark {
  position: relative;
  color: black;
  top: -5px;
  height: 15px;
  font-size: 12px;
  opacity: 0;
}

/*
  When the custom checkbox is checked, show the custom checkmark
*/
.CauseCheckboxes__custom-checkbox.checked .CauseCheckboxes__checkmark {
  opacity: 1;
}