.AddOrg__description {
  display: flex;
  align-items: top;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

@media screen and (min-width: 1200px) {
  .AddOrg__description {
    margin: 15px 0px 15px 0px;
  }
}