.App {
  margin-top: 75px;
  text-align: center;
}

.App.expanded {
  margin-top: 138px;
}

section {
  padding: 10px;
  background-color: #D7D7D7;
}

section:nth-child(even) {
  background-color: #A2A2A2;
}

form {
  padding: 10px;
}

fieldset, legend {
  margin-left: auto;
  margin-right: auto;
}

label {
  margin-right: 10px;
}

form button {
  margin-top: 10px;
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
}

p.error {
  color: red;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: black;
}