.Nav {
  background-color: black;
  padding: 15px;
  border-bottom: 1px solid #747A82;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
}

.Nav * {
  color: white;
}

.Nav__expander {
  border: none;
  background: none;
  padding: 0;
  font-size: medium;
  cursor: pointer;
}

.Nav__expanded {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Nav a {
  font-size: 16px;
}

.Nav__expanded a {
  text-decoration: none;
}

a.active {
  color: #FF9100;
}