.Nav {
  background-color: black;
  padding: 15px;
  border-bottom: 1px solid #747A82;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
}

.Nav *, .Nav__expanded * {
  color: white;
}

.Nav__expander {
  border: none;
  background: none;
  padding: 0;
  font-size: medium;
  cursor: pointer;
}

.Nav .links {
  display: none;
}

.Nav.expanded .links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Nav a {
  font-size: 16px;
}

.Nav.expanded a {
  text-decoration: none;
}

a.active {
  color: #FF9100;
}

@media screen and (min-width: 750px) {
  .Nav__expander {
    display: none;
  }

  .Nav .links, .Nav.expanded .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .Nav .links a, .Nav.expanded .links a {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .Nav {
    border-bottom: none;
    border-right: 1px solid #747A82;
    top: 0;
    right: 83%;
    bottom: 0;
    left: 0;
  }

  .Nav .links, .Nav.expanded .links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .Nav .links a, .Nav.expanded .links a {
    margin-left: 0px;
  }
}